<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/8a901d03fb.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <style>
      body {
        background-color: rgb(185, 155, 107)
        /* rgb(243, 233, 159); */
      }

      .header-container {

        border-bottom: 3px solid rgb(13, 6, 36);
        background-color: rgb(105, 130, 105);

      }

      .container {
      border: 3px solid rgb(13, 6, 36);
      border-radius: 15px;
      background-color: rgb(105, 130, 105);
  }

    #digital-clock {
        font-size: 14px;
        padding: 8px;
    }

    #current-date {
      font-size: 14px;
      padding: 8px;
    }

   

  </style>

</head>
<header>
    <div class="header-container">
        <div class="row">
          <div class="col-2">
            <i class='fas fa-syringe' style='font-size:24px;color:red; padding: 25px;'></i>
            </div>
            <div class="col-6">
                <h6 class="display-2" style="color: rgb(152, 216, 170);">DACChub</h6>
                <h6>
                    <small class="text-body-secondary" style="color: rgb(152, 216, 170);">Find your way around ...</small>
                </h6>
                </div>
                <div class="col-4">
                  <div id="current-date"></div>
                <div id="digital-clock"></div>
                </div>
            </div>
        </div>
    </div>
</header>


<body>
    <br>
    <h2>Clinical</h2>
    <div class="container">
<br>
<div class="row mb-4">
    <div class="col-sm-6 col-md-4">
<div class="card" >
    <div class="card-body">
      <h5 class="card-title">Clinical guidelines</h5>
             
      <p class="card-text">Department clnical guidelines</p>
      <a href="https://drive.google.com/drive/u/1/folders/1JG9ACFDmOMY3o-KI7rdlwhCRMfQ4XwzR" class="card-link">Clinical</a>
      
    </div>
  </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="card" >
            <div class="card-body">
              <h5 class="card-title">DACC research coordinator</h5>
             
              <p class="card-text">Dr Ryan Davids</p>
              <p class="card-text">Email: ryand@sun.ac.za</p>
              
              
            </div>
          </div>
            </div>
            <div class="col-sm-6 col-md-4">
              <div class="card" >
                  <div class="card-body">
                    <h5 class="card-title">DACC research administration</h5>
                   
                    <p class="card-text">Ms Shanita Chhiba</p>
                    <p class="card-text">Email: schhiba@sun.ac.za</p>
                    
                    
                  </div>
                </div>
                  </div>
</div>
                  
                  <div class="row mb-4">
                    
                  <div class="col-sm-6 col-md-4">
                    <div class="card" >
                        <div class="card-body">
                          <h5 class="card-title">DACC research guidelines</h5>
                         
                         
                          <a href="https://drive.google.com/drive/u/1/folders/1gISnTC5Tai6S-YPxdAi7PSyRzvJeRN_X" class="card-link">Guidelines</a>
                          
                        </div>
                      </div>
                        </div>
</div>
<!-- <ul>
    <li>Item 1</li>
    <li>Item 2</li>
    <li>Item 3</li>
  </ul> -->
  




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <script>
      // Function to update the digital clock and current date
      function updateClock() {
          var currentTime = new Date();
          var hours = currentTime.getHours();
          var minutes = currentTime.getMinutes();
          var seconds = currentTime.getSeconds();
          var timeString = hours + ':' + minutes + ':' + seconds;
          
          var currentDate = currentTime.toDateString();
          
          document.getElementById('digital-clock').textContent = timeString;
          document.getElementById('current-date').textContent = currentDate;
      }
  
      // Update the clock every second
      setInterval(updateClock, 1000);
  </script>
</body>
</html>  